<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hola VUE</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="app" class="container">
		<div class="left">
			<img v-bind:src="img" v-bind:alt="name" width="50px;">
			<h1>
				{{name}}
				<!-- Control de flujo -->
				<span v-if="changePercent > 0">👍</span>
				<span v-else-if="changePercent < 0">👎</span>
				<span v-else>🤞</span>

				<!-- mantiene en el dom los elementos, pero ocultos -->
				<span v-show="changePercent > 0">👍</span>
				<span v-show="changePercent < 0">👎</span>
				<span v-show="changePercent == 0">🤞</span>

				<!-- Renderizado de listas -->
				<ul>
					<li v-for="(price, index) in prices" v-bind_key="price">
						{{ index }} - {{ price }}
					</li>
				</ul>

				<ul>
					<li v-for="d in pricesWithDays">
						{{ d.day }} - {{ d.value }}
					</li>
				</ul>
			</h1>
		</div>

		<div class="right">
			<!-- verificacion de vue -->
			<pre>{{ $data }}</pre>
		</div>
	</div>

	<script src="js/vue.js" type="text/javascript"></script>
	<script src="js/app.js" type="text/javascript"></script>
</body>
</html>
